<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89254849018-7fukrlkbuf73tge0acqf5d5sigpkpivf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89254849018-7fukrlkbuf73tge0acqf5d5sigpkpivf</string>
	<key>API_KEY</key>
	<string>AIzaSyDDBHQ3iqqIQB2AQCZmVAjN11wtKteslXs</string>
	<key>GCM_SENDER_ID</key>
	<string>89254849018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NathanielRemy.MIOS</string>
	<key>PROJECT_ID</key>
	<string>mios-82f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>mios-82f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89254849018:ios:c22e1c27859f14e1</string>
	<key>DATABASE_URL</key>
	<string>https://mios-82f2b.firebaseio.com</string>
</dict>
</plist>